<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<key>FSActivateOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>g:m:o:u:</string>
		</dict>
		<key>FSCheckOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>nqy</string>
		</dict>
		<key>FSFormatOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>v</string>
		</dict>
		<key>FSMediaTypes</key>
		<dict>
			<key>3B8F8425-20E0-4F3B-907F-1A25A76F98E8</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>3B8F8425-20E0-4F3B-907F-1A25A76F98E8</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<key>933AC7E1-2EB4-4F13-B844-0E14E2AEF915</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>933AC7E1-2EB4-4F13-B844-0E14E2AEF915</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<key>0FC63DAF-8483-4772-8E79-3D69D8477DE4</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>0FC63DAF-8483-4772-8E79-3D69D8477DE4</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<key>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			            <key>4F68BCE3-E8CD-4DB1-96E7-FBCAF984B709</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>4F68BCE3-E8CD-4DB1-96E7-FBCAF984B709</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>6523F8AE-3EB1-4E2A-A05A-18B695AE656F</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>6523F8AE-3EB1-4E2A-A05A-18B695AE656F</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>D27F46ED-2919-4CB8-BD25-9531F3C16534</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>D27F46ED-2919-4CB8-BD25-9531F3C16534</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>69DAD710-2CE4-4E3C-B16C-21A1D49ABED3</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>69DAD710-2CE4-4E3C-B16C-21A1D49ABED3</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>B921B045-1DF0-41C3-AF44-4C6F280D3FAE</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>B921B045-1DF0-41C3-AF44-4C6F280D3FAE</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>993D8D3D-F80E-4225-855A-9DAF8ED7EA97</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>993D8D3D-F80E-4225-855A-9DAF8ED7EA97</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>77055800-792C-4F94-B39A-98C91B762BB6</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>77055800-792C-4F94-B39A-98C91B762BB6</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>37C58C8A-D913-4156-A25F-48B1B64E07F0</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>37C58C8A-D913-4156-A25F-48B1B64E07F0</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>700BDA43-7A34-4507-B179-EEB93D7A7CA3</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>700BDA43-7A34-4507-B179-EEB93D7A7CA3</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>1AACDB3B-5444-4138-BD9E-E5C2239B2346</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>1AACDB3B-5444-4138-BD9E-E5C2239B2346</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>1DE3F1EF-FA98-47B5-8DCD-4A860A654D78</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>1DE3F1EF-FA98-47B5-8DCD-4A860A654D78</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>912ADE1D-A839-4913-8964-A10EEE08FBD2</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>912ADE1D-A839-4913-8964-A10EEE08FBD2</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>C31C45E6-3F39-412E-80FB-4809C4980599</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>C31C45E6-3F39-412E-80FB-4809C4980599</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>60D5A7FE-8E7D-435C-B714-3DD8162144E1</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>60D5A7FE-8E7D-435C-B714-3DD8162144E1</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>72EC70A6-CF74-40E6-BD49-4BDA08E8F224</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>72EC70A6-CF74-40E6-BD49-4BDA08E8F224</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>08A7ACEA-624C-4A20-91E8-6E0FA67D23F9</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>08A7ACEA-624C-4A20-91E8-6E0FA67D23F9</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>5EEAD9A9-FE09-4A1E-A1D7-520D00531306</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>5EEAD9A9-FE09-4A1E-A1D7-520D00531306</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>C50CDD70-3862-4CC3-90E1-809A8C93EE2C</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>C50CDD70-3862-4CC3-90E1-809A8C93EE2C</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>8DA63339-0007-60C0-C436-083AC8230908</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>8DA63339-0007-60C0-C436-083AC8230908</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>A19D880F-05FC-4D3B-A006-743F0F84911E</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>A19D880F-05FC-4D3B-A006-743F0F84911E</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>E6D6D379-F507-44C2-A23C-238F2A3DF928</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>E6D6D379-F507-44C2-A23C-238F2A3DF928</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>4D21B016-B534-45C2-A9FB-5C16E091FD2D</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>4D21B016-B534-45C2-A9FB-5C16E091FD2D</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>7EC6F557-3BC5-4ACA-B293-16EF5DF639D1</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>7EC6F557-3BC5-4ACA-B293-16EF5DF639D1</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>75250D76-8CC6-458E-BD66-BD47CC81A812</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>75250D76-8CC6-458E-BD66-BD47CC81A812</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>8484680C-9521-48C6-9C11-B0720656F69E</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>8484680C-9521-48C6-9C11-B0720656F69E</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>E18CF08C-33EC-4C0D-8246-C6C6FB3DA024</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>E18CF08C-33EC-4C0D-8246-C6C6FB3DA024</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>7978A683-6316-4922-BBEE-38BFF5A2FECC</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>7978A683-6316-4922-BBEE-38BFF5A2FECC</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>7D0359A3-02B3-4F0A-865C-654403E70625</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>7D0359A3-02B3-4F0A-865C-654403E70625</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>B0E01050-EE5F-4390-949A-9101B17104E9</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>B0E01050-EE5F-4390-949A-9101B17104E9</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>4301D2A6-4E3B-4B2A-BB94-9E0B2C4225EA</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>4301D2A6-4E3B-4B2A-BB94-9E0B2C4225EA</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>E611C702-575C-4CBE-9A46-434FA0BF7E3F</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>E611C702-575C-4CBE-9A46-434FA0BF7E3F</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>0F4868E9-9952-4706-979F-3ED3A473E947</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>0F4868E9-9952-4706-979F-3ED3A473E947</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>C97C1F32-BA06-40B4-9F22-236061B08AA8</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>C97C1F32-BA06-40B4-9F22-236061B08AA8</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>DC4A4480-6917-4262-A4EC-DB9384949F25</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>DC4A4480-6917-4262-A4EC-DB9384949F25</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>7D14FEC5-CC71-415D-9D6C-06BF0B3C3EAF</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>7D14FEC5-CC71-415D-9D6C-06BF0B3C3EAF</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>2C9739E2-F068-46B3-9FD0-01C5A9AFBCCA</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>2C9739E2-F068-46B3-9FD0-01C5A9AFBCCA</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>15BB03AF-77E7-4D4A-B12B-C0D084F7491C</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>15BB03AF-77E7-4D4A-B12B-C0D084F7491C</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>B933FB22-5C3F-4F91-AF90-E2BB0FA50702</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>B933FB22-5C3F-4F91-AF90-E2BB0FA50702</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>BEAEC34B-8442-439B-A40B-984381ED097D</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>BEAEC34B-8442-439B-A40B-984381ED097D</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>CD0F869B-D0FB-4CA0-B141-9EA87CC78D66</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>CD0F869B-D0FB-4CA0-B141-9EA87CC78D66</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>8A4F5770-50AA-4ED3-874A-99B710DB6FEA</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>8A4F5770-50AA-4ED3-874A-99B710DB6FEA</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>55497029-C7C1-44CC-AA39-815ED1558630</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>55497029-C7C1-44CC-AA39-815ED1558630</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>773F91EF-66D4-49B5-BD83-D683BF40AD16</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>773F91EF-66D4-49B5-BD83-D683BF40AD16</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>3CB8E202-3B7E-47DD-8A3C-7FF2A13CFCEC</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>3CB8E202-3B7E-47DD-8A3C-7FF2A13CFCEC</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>2E0A753D-9E48-43B0-8337-B15192CB1B5E</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>2E0A753D-9E48-43B0-8337-B15192CB1B5E</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>
            <key>09845860-705F-4BB5-B16C-8A8A099CAF52</key>
            <dict>
                <key>FSMediaProperties</key>
                <dict>
                    <key>Content Hint</key>
                    <string>09845860-705F-4BB5-B16C-8A8A099CAF52</string>
                    <key>Leaf</key>
                    <true/>
                </dict>
            </dict>

			<key>Linux</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>Linux</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<key>Whole</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Leaf</key>
					<true/>
					<key>Whole</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>FSPersonalities</key>
		<dict>
			<key>ext</key>
			<dict>
				<key>FSName</key>
				<string>ext</string>
				<key>FSfileObjectsAreCaseSensitive</key>
				<true/>
			</dict>
			<key>ext2</key>
			<dict>
				<key>FSName</key>
				<string>ext2</string>
				<key>FSSubType</key>
				<integer>0</integer>
				<key>FSfileObjectsAreCaseSensitive</key>
				<true/>
			</dict>
			<key>ext3</key>
			<dict>
				<key>FSName</key>
				<string>ext3</string>
				<key>FSSubType</key>
				<integer>1</integer>
				<key>FSfileObjectsAreCaseSensitive</key>
				<true/>
			</dict>
			<key>ext4</key>
			<dict>
				<key>FSName</key>
				<string>ext4</string>
				<key>FSSubType</key>
				<integer>2</integer>
				<key>FSfileObjectsAreCaseSensitive</key>
				<true/>
			</dict>
		</dict>
		<key>FSRequiresSecurityScopedPathURLResources</key>
		<false/>
		<key>FSShortName</key>
		<string>ExtendFS</string>
		<key>FSSupportsBlockResources</key>
		<true/>
		<key>FSSupportsGenericURLResources</key>
		<false/>
		<key>FSSupportsKernelOffloadedIO</key>
		<true/>
		<key>FSSupportsPathURLs</key>
		<false/>
		<key>FSSupportsServerURLs</key>
		<false/>
	</dict>
</dict>
</plist>
